@model SupportRegister.ViewModels.Requests.System.Roles.RoleCreateRequest

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="card-title">Create New Role</h3>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="CreateRole">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Role Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="exampleInputUsername1" autocomplete="off">
                        <span class="text-danger" asp-validation-for="@Model.Name">@ViewBag.Error</span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <input asp-for="Description" type="text" class="form-control" id="exampleInputEmail1">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary  mt-2" />
                        <a href="@Url.Action("Index", "Role")" class="btn btn-secondary mt-2 ">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


